/* common css */

:root {
    --black-one: #3C354F;
    --black-two: #0B0223;
    --black-three: #534C64;
    --blue: #4EC5F7;
    --linear: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.125rem;
    overflow-x: hidden;
    color: var(--black-three);
    font-family: 'Work Sans', sans-serif;
}

.img-fluid {
    max-width: 100%;
}

.btn-primary {
    border-radius: 48px;
    padding: 20px 40px;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.btn-secondary {
    border-radius: 48px;
    padding: 20px 40px;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    border-radius: 48px;
    color: #fff;
    background: #4EC5F7;
    margin-left: 25px;
    text-transform: uppercase;
}

.linear-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.description {
    font-size: 18px;
    line-height: 30px;
}

/* header css */

.navbar {
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

nav .logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav .logo h1 {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    color: var(--black-two);
}

nav .logo h1 span {
    color: #FF42A5;
}

nav .menu {
    display: flex;
    align-items: center;
}

nav .menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

nav .menu ul li {
    font-size: 18px;
    font-weight: 500;
    padding: 0 20px;
}


nav .menu ul li a {
    text-decoration: none;
    color: var(--black-one);
}

nav .social {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0 0.5rem;
    margin-left: 1.25rem;
}

/* banner area css */

.banner {
    padding: 0 240px;
    background-image: url(images/banner-bg.png);
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .content h2 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--black-two);
    text-transform: uppercase;
    margin-bottom: 0;

}

.banner .content h1.title {
    background: var(--linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 800;
    margin: 0;
}

.banner .content ul {
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0;
    line-height: 45px;
}

/* about section css */

.about .container {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 60px auto;
}

.about .content {
    text-align: right;
    max-width: 520px;
}

.about .title {
    background: var(--linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.about h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 15px;
}

.about h5 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

/* online games css */

.games {
    margin: 120px 0;
}

.games .content {
    text-align: center;
    margin-bottom: 3rem;
}

.games h1 {
    color: var(--black-two);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.games .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.games .card .img-box {
    position: relative;
}

.games .card .img-box img {
    width: 100%;
    border: 4px solid;
    border-color: #fff;
    border-radius: 22px;
    transition: all 0.3s;
}


.games .card:hover img {
    border-color: #FF42A5;
    transition: all 0.3s;
}



.games .card p {
    font-size: 20px;
    font-weight: 500;
}

.overly {
    background-color: #000000bd;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 8px;
    opacity: 0;
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in;
}

.overly .play a {
    color: #fff;
    font-size: 48px;
}

.overly .watch {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;
}

.games .card:hover .overly {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* play-instant css */

.play-instant .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-instant h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}

.play-instant .content {
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}

.play-instant .img-box {
    position: relative;
}

.play-instant .img-box .sm-img {
    position: absolute;
    left: -100px;
    bottom: -100px;
}

.play-games {
    margin-top: 200px;
    margin-bottom: 120px;
}


.play-games .img-box .sm-img {
    position: absolute;
    right: -100px;
    left: auto;
    bottom: -100px;
}


.play-games .content {
    text-align: left;
}


.play-games .content {
    max-width: 450px;
}

/* career css */


.career {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding-left: 240px;
}

.career h1 {
    font-size: 48px;
}

.career .place {
    display: flex;
    justify-content: space-between;
}

.career .place ul {
    list-style: none;
    padding: 0;
}

.career .place .right {
    text-align: right;
}

.career .place ul li {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 40px;
}

.career .img-box {
    min-width: 55%;
}

.career button.btn-secondary {
    background-color: #fff;
    margin-left: 0;
    color: #FF42A5;
    margin-top: 30px;
}

/* tags css */
.tags {
    margin: 120px 0;
    text-align: center;
}

.tags a {
    display: inline-flex;
    color: var(--black-two);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    gap: 16px;
    border: solid 2px #fff;
    padding: 10px;
    margin: 12px;
    border-radius: 50px;
    transition: all 0.3s;
}

.tags a:hover {
    border: solid 2px #FF42A5;
    color: #FF42A5;
    transition: all 0.4s;
}

/* footer css */

footer {
    background-color: #0B0223;
    text-align: center;
    padding: 120px 0;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    padding: 0 30px;
    font-weight: 600;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

footer .link-two li a {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);

}

footer .scoial a i {
    font-size: 40px;
}

footer p small {
    color: rgba(255, 255, 255, 0.60);
}

footer .scoial {
    margin: 70px 0;
}

footer .link-two {
    margin-bottom: 25px;
}


footer .logo {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 65px;
    justify-content: center;
}

footer .logo h1 {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}

footer .logo h1 span {
    color: #FF42A5;
}









/* responsive css */

@media screen and (min-width: 1500px) {
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 576px) {

    nav,
    .banner .container,
    .about .container,
    .play-instant .container,
    .career,
    nav .menu,
    nav .menu ul {
        flex-direction: column;
    }

    .banner .container,
    .play-games .container
    {
        flex-direction: column-reverse;
    }

    nav .social ul {
        flex-direction: row;
    }

    nav .menu ul li {
        margin: 20px 0;
    }

    nav .social ul li {
        margin: 0;
    }


    .games .card-container {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .banner {
        padding: 30px;
    }

    .banner .btn-secondary {
        margin-left: 5px;
    }

    .career {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about .content {
        text-align: center;
        max-width: 100%;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .play-instant .img-box .sm-img {
        left: 0;
        width: 50%;
    }

    .play-games .img-box .sm-img {
        left: 0;
        width: 50%;
    }

    .play-games .content {
        text-align: center;
    }

    .tags a { 
        font-size: 13px;
        font-weight: 500; 
        gap: 6px; 
        padding: 8px;
        margin: 5px 0; 
    }

    .tags a img {
        width: 40px;
    }

    footer ul {
        padding: 0;
    }

    footer ul li {
        padding: 20px;
    }
}
 



@media screen and (min-width:576px) and (max-width: 992px) {

    nav,
    .banner .container,
    .about .container,
    .play-instant .container,
    .career,
    nav .menu,
    nav .menu ul {
        flex-direction: column;
    }

    .banner .container,
    .play-games .container
    {
        flex-direction: column-reverse;
    }

    nav .social ul {
        flex-direction: row;
    }

    nav .menu ul li {
        margin: 20px 0;
    }

    nav .social ul li {
        margin: 0;
    }


    .games .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .banner {
        padding: 30px;
    }

    .banner .btn-secondary {
        margin-left: 5px;
    }

    .career {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about .content {
        text-align: center;
        max-width: 100%;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .play-instant .img-box .sm-img {
        left: 0;
        width: 50%;
    }

    .play-games .img-box .sm-img {
        left: 0;
        width: 50%;
    }

    .play-games .content {
        text-align: center;
    }

    .tags a { 
        font-size: 13px;
        font-weight: 500; 
        gap: 6px; 
        padding: 8px;
        margin: 5px 0; 
    }

    .tags a img {
        width: 40px;
    }

    footer ul {
        padding: 0;
    }

    footer ul li {
        padding: 20px;
    }
}




@media screen and (min-width:992px) and (max-width: 1024px) {

    nav,
    .banner .container,
    .about .container,
    .play-instant .container,
    .career,
    nav .menu,
    nav .menu ul {
        flex-direction: column;
    }

    .banner .container,
    .play-games .container
    {
        flex-direction: column-reverse;
    }

    nav .social ul {
        flex-direction: row;
    }

    nav .menu ul li {
        margin: 20px 0;
    }

    nav .social ul li {
        margin: 0;
    }


    .games .card-container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 24px;
    }

    .banner {
        padding: 30px;
    }

    .banner .btn-secondary {
        margin-left: 5px;
    }

    .career {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about .content {
        text-align: center;
        max-width: 100%;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .play-instant .img-box .sm-img {
        left: 0;
        width: 50%;
    }

    .play-games .img-box .sm-img {
        left: 0;
        width: 50%;
    }

    .play-games .content {
        text-align: center;
    }

    .tags a { 
        font-size: 13px;
        font-weight: 500; 
        gap: 6px; 
        padding: 8px;
        margin: 5px 0; 
    }

    .tags a img {
        width: 40px;
    }

    footer ul {
        padding: 0;
    }

    footer ul li {
        padding: 20px;
    }
}

@media screen and (max-width:1500px) {
    
.career .content {
    padding: 120px 0;
}
}
